:root {
  --browser-bgc: #e5e5e5;
  --brand-color-first: #fff;
  --brand-color-second: #212121;
  --logo-color-first: #000;
  --logo-color-second: #2196f3;
  --logo-color-first-footer: #2196f3;
  --logo-color-second-footer: #fff;
  --header-section-border-color: #ececec;
  --baner-color: #2f303a;
  --button_order-background-color: #2196f3;
  --button_order-color: #fff;
  --link-select_mail-tel-color: #2196f3;
  --link-select-color: #fff;
  --link-select-bgc: #2196f3;
  --link-contact: #757575;
  --color-description: #757575;
  --team-section-bgc: #f5f4fa;
  --footer-coolor: #2f303a;
  --portfolio-border-color: #eeeeee;
  --portfolio-description-color: #757575;
  --team-bgc: #ffffff;
}
* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: var(--browser-bgc);
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color-second);
  background-color: var(--brand-color-first);
  width: 1600px;
  margin-right: auto;
  margin-left: auto;
}
.section {
  padding: 0px 215px 94px;
}
.baner h1 {
  margin: 0;
  max-width: 696px;
  max-height: 120px;
  text-align: center;
  padding: 200px 452px 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.baner button {
  background-color: var(--button_order-background-color);
  color: var(--button_order-color);
  padding: 10px 41px 10px 42px;
  margin: 0px 700px;
}
h2 {
  text-align: center;
  text-align: center;
}
.link {
  text-decoration: none;
  color: var(--brand-color-second);
}
.list {
  list-style-type: none;
}
.button {
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: transparent;
}
.header-section {
  border-bottom: 1px solid var(--header-section-border-color);
  padding: 24px 215px;
}
.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2em;
  color: var(--logo-color-first);
  text-decoration: none;
}
.header-logo span:first-of-type {
  color: var(--logo-color-second);
}
.navigation,
.menu li {
  display: inline-block;
}
.menu li {
  padding-right: 46px;
}
.menu {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14em;
  margin-left: 93px;
}
.select-page {
  color: var(--link-select-bgc);
  display: flex;
  justify-content: center;
}
.list-filters {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
  gap: 8px;
}
.list-filters button {
  padding: 6px 22px;
}
.link-contact-mail {
  color: var(--link-contact);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  margin-left: 318px;
}
.link-contact-phone {
  color: var(--link-contact);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  margin-left: 50px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 0px;
}
.portfolio-list li {
  box-sizing: border-box;
  border: 1px solid var(--portfolio-border-color);
  max-width: 370px;
}
.portfolio-list h3,
.portfolio-list p {
  padding-left: 24px;
}
.portfolio-list h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  padding-top: 20px;
  padding-bottom: 4px;
}
.portfolio-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87em;
  padding-bottom: 20px;
  color: var(--portfolio-description-color);
}
.footer {
  background-color: var(--footer-coolor);
  padding: 60px 215px;
}
.footer ul {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer-adress-list li {
  line-height: 1.71em;
  font-weight: 400;
}
.footer-logo {
  display: inline-block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2em;
  color: var(--logo-color-first-footer);
  text-decoration: none;
  margin-bottom: 20px;
}
.footer-logo span {
  color: var(--logo-color-second-footer);
}
.link-footer-adress {
  color: var(--brand-color-first);
  font-size: 14px;
  line-height: 1.71em;
  font-style: normal;
  margin-bottom: 9px;
}

.link-footer-contact-mail {
  color: var(--link-contact);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71em;
  font-style: normal;
  margin-bottom: 9px;
}
.link-footer-contact-phone {
  color: var(--link-contact);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71em;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 9px;
}

.baner {
  background-color: var(--baner-color);
  height: 600px;
  margin-bottom: 94px;
}
.baner h1 {
  color: var(--brand-color-first);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
}
.description {
  display: flex;
  gap: 30px;
  padding-top: 0px;
}
.description h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  margin-bottom: 10px;
}
.description p {
  font-size: 14px;
  line-height: 1.7em;
  color: var(--color-description);
  letter-spacing: 0.03em;
  max-width: 270px;
}
.offer h2,
.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16em;
  margin-bottom: 50px;
}
.offer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.team {
  background-color: var(--team-section-bgc);
  padding-top: 94px;
}
.team ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.team li {
  max-width: 270px;
  max-height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--team-bgc);
  margin: 0 0;
  text-align: center;
}
.team {
  text-align: center;
}
.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team p {
  font-size: 16px;
  line-height: 19px;
  color: var(--color-description);
  margin-top: 10px;
  margin-bottom: 30px;
}
.link-contact-mail:hover,
.link-contact-mail:focus,
.link-contact-phone:hover,
.link-contact-phone:focus {
  color: var(--link-select_mail-tel-color);
}
.link:hover,
.link:focus,
.link span:hover,
.link span:focus,
.header-logo:hover,
.header-logo:focus,
.link-footer-contact-phone:hover,
.link-footer-contact-phone:focus,
.link-footer-contact-mail:hover,
.link-footer-contact-mail:focus {
  color: var(--link-select-color);
  background-color: var(--link-select-bgc);
}
.button:hover,
.button:focus {
  color: var(--link-select-color);
  background-color: var(--link-select-bgc);
  cursor: pointer;
}
