.clients {
  &__header {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16em;
    margin-top: 94px;
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    margin-bottom: 94px;
    justify-content: space-between;
    align-items: baseline;
    gap: 30px;
  }
  &__item {
    display: flex;
  }
  &__link {
    border: 1px solid get-color(brand_color-sixth);
    border-radius: 4px;
    fill: get-color(brand_color-sixth);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: get-color(brand_color-second);
      border-color: get-color(brand_color-second);
    }
  }
}
