.descriptions {
  padding-bottom: 94px;
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__ico {
    box-sizing: content-box;
    align-self: center;
    background-color: get-color(brand_color-seventh);
    padding: 25px 100px;
    margin-bottom: 30px;
    border-radius: 4px;
  }
  &_header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    margin-bottom: 10px;
  }
  &_paragraf {
    font-size: 14px;
    line-height: 1.7em;
    color: get-color(brand_color-third);
    letter-spacing: 0.03em;
    max-width: 270px;
  }
}
