.footer {
  margin: auto;
  background-color: get-color-footer(bgc);
  padding: 60px 0px;
}
.footer__adress-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer__adress-item {
  line-height: 1.71em;
  font-weight: 400;
}
.footer__logo {
  display: inline-block;
  font-family: get-font(secendary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2em;
  color: get-color-footer(logo-first);
  text-decoration: none;
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: get-color-footer(logo-second);
    .footer__logo--white {
      color: get-color-footer(logo-first);
    }
  }
}
.footer__logo--white {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: get-color-footer(logo-second);
}
.footer__adress-link {
  color: get-color-footer(link);
  font-size: 14px;
  line-height: 1.71em;
  font-style: normal;
  margin-bottom: 9px;
}
.footer__adress-mail {
  color: get-color-footer(mail);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71em;
  font-style: normal;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: get-color-footer(mail-select);
  }
}
.footer__adress-phone {
  color: get-color-footer(phone);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71em;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: get-color-footer(mail-phone);
  }
}
.footer__wrap {
  display: flex;
}
.footer__social {
  margin-left: 70px;
  margin-top: 12px;
}
.footer__social-description {
  color: get-color-footer(text);
  font-family: get-font(primary);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__social-list {
  display: flex;
  gap: 10px;
}
.footer__social-link {
  fill: get-color-footer(social);
  padding: 12px 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: get-color-footer(social-bgc-select);
    fill: get-color-footer(social-select);
    cursor: pointer;
  }
}
.footer__newsletter {
  margin-left: 78px;
  margin-top: 12px;
}
.footer__newsletter-description {
  color: get-color-footer(text);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.footer__newsletter-wrap-line {
  display: flex;
  margin-top: 15px;
  align-items: center;
}
.footer__newsletter-input {
  box-sizing: border-box;
  background: get-color-footer(bgc);
  width: 326px;
  font-size: 16px;
  line-height: 20px;
  color: get-color-footer(input);
  padding: 14px 15px;
  border: 1px solid get-color-footer(input-border); ;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
}
.footer__newsletter-button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 30px;
  color: get-color-footer(button);
  background: get-color-footer(button-bgc);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 42px;
}
.footer__newsletter-ico {
  fill: get-color-footer(button-ico);
  margin-left: 24px;
}
