.footer {
  margin: auto;
  background-color: get-color(brand_color-fifth);
  padding: 60px 0px;
  &__adress-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  &__adress-item {
    line-height: 1.71em;
    font-weight: 400;
  }
  &__logo {
    display: inline-block;
    font-family: get-font(secendary);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2em;
    color: get-color(brand_color-second);
    text-decoration: none;
    margin-bottom: 20px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      color: get-color(brand_color-first);
      .footer__logo--white {
        color: get-color(brand_color-second);
      }
    }
  }
  &__logo--white {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: get-color(brand_color-first);
  }
  &__adress-link {
    color: get-color(brand_color-first);
    font-size: 14px;
    line-height: 1.71em;
    font-style: normal;
    margin-bottom: 9px;
  }
  &__adress-mail {
    color: get-color(brand_color-third);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71em;
    font-style: normal;
    margin-bottom: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      color: get-color(brand_color-second);
    }
  }
  &__adress-phone {
    color: get-color(brand_color-third);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71em;
    text-decoration: none;
    font-style: normal;
    margin-bottom: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      color: get-color(brand_color-second);
    }
  }
  &__wrap {
    display: flex;
  }
  &__social {
    margin-left: 70px;
    margin-top: 12px;
  }
  &__social-description {
    color: get-color(brand_color-first);
    font-family: get-font(primary);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__social-list {
    display: flex;
    gap: 10px;
  }
  &__social-link {
    fill: get-color(brand_color-sixth);
    padding: 12px 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: get-color(brand_color-second);
      fill: get-color(brand_color-first);
      cursor: pointer;
    }
  }
  &__newsletter {
    margin-left: 78px;
    margin-top: 12px;
  }
  &__newsletter-description {
    color: get-color(brand_color-first);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }
  &__newsletter-wrap-line {
    display: flex;
    margin-top: 15px;
    align-items: center;
  }
  &__newsletter-input {
    box-sizing: border-box;
    background: get-color(brand_color-fifth);
    width: 326px;
    font-size: 16px;
    line-height: 20px;
    color: get-color(footer-input);
    padding: 14px 15px;
    border: 1px solid get-color(footer-input-border);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
  }
  &__newsletter-button {
    width: 200px;
    height: 50px;
    font-weight: 700;
    line-height: 30px;
    color: get-color(brand_color-first);
    background: get-color(brand_color-second);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 42px;
  }
  &__newsletter-ico {
    fill: get-color(brand_color-first);
    margin-left: 24px;
  }
}
