.offer {
    padding-bottom: 94px;
    &__header {
      text-align: center;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.16em;
      margin-bottom: 50px;
    }
    &__list {
      display: flex;
      justify-content: space-between;
    }
    &__item {
      position: relative;
    }
    &__description {
      position: absolute;
      font-family: get-font(primary);
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: get-color(offer-color);
    }
    &__description-bgc {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background: get-color(offer-bgc);
      width: 370px;
      height: 70px;
      bottom: 3px;
      z-index: 1;
    }
  }
